/* General Styles */
body {
    background-color: #EEEEEE;
    font-family: "Playwrite FR Moderne", serif !important;
}

/* Text Styles */
.space-grotesk-0, .fs-4, .nav-link, #footerbar {
    font-family: "Space Grotesk", sans-serif !important;
}

.fs-4 {
    margin-left: 20px;
    margin-right: 20px;
    color: white !important;
}

/* Navbar Styling */
.navbar {
    background-color: #1D1616 !important;
}

.nav-link {
    color: white !important;
}

.nav-link.active, .nav-link:hover {
    color: #8E1616 !important;
}

.nav-link.active:hover {
    color: #D84040 !important;
}

.login-btn {
    font-family: "Playwrite FR Moderne", serif !important;
    height: 50px;
}

/* Carousel Fix */
.carousel-inner img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Button Styling */
.btn-outline-success {
    border-color: #D84040 !important;
    color: #D84040 !important;
}

.btn-outline-success:hover {
    background-color: #D84040 !important;
    color: white !important;
}

.btn-danger {
    background-color: #8E1616 !important;
}

.btn-danger:hover
{
    background-color: #D84040 !important;
}



/* Footer Styling */
#footerbar {
    background-color: #8E1616 !important;
    color: white !important;
    padding: 20px;
    text-align: center;
}

#footerbar img {
    width: 20px;
    margin-right: 10px;
}

#footerbar ul {
    list-style: none;
    padding: 0;
}

#footerbar ul li {
    display: inline;
    margin: 0 10px;
}

#footerbar ul li a {
    color: white !important;
    text-decoration: none;
}

#footerbar .nav-link {
    color: white !important;
}

#footerbar .nav-link:hover {
    color: #D84040 !important;
}

.success-page{
    height: 100vh; /* Full screen height */
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    font-family: 'Space Grotesk', sans-serif; /* Optional - for style */
    background-color: #f8f9fa; /* Light background */
}

.success-page h2 {
    font-size: 2rem;
    text-align: center;
}

.image{
    width: 200px;
    height: 200px;
}

.img-cart{
    width: 150px;
    height: 150px;
}

/*Laptop cart*/
.card-header {
    background-color: black !important;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0 0;
}

.card-header img {
    max-width: 100%;
    
    border-radius: 10px;
}

.img-cart{
    width: 100px;
    height: 100px;
}

.cart-label
{
    color: #8E1616 !important;
}
